name: AsyncAPI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Validate AsyncAPI document
        run: cd asyncapi && npx @asyncapi/cli validate asyncapi.yaml

  generate-docs:
    runs-on: ubuntu-latest
    needs: validate
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Generate Markdown
        run: |
          cd asyncapi
          npx @asyncapi/cli generate fromTemplate asyncapi.yaml @asyncapi/markdown-template -o ../docs/markdown --force-write --use-new-generator

      - name: Generate HTML
        run: |
          cd asyncapi
          npx @asyncapi/cli generate fromTemplate asyncapi.yaml @asyncapi/html-template -o ../docs/html --force-write --use-new-generator -p sidebarOrganization=byTags
